---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

#back-to-top {
    position: fixed;
    bottom: 20px;
    right: 50%;
    left: 50%;
    background-color: white;
    color: black;
    border: 1px solid #bebebe;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    font-size: 24px;
    font-weight: 600;
    cursor: pointer;
    display: none;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    transition: opacity 0.3s;
}

#back-to-top:hover {
    background-color: #fafafa;
}

@media (min-width: 768px) {
    #back-to-top {
        right: 20px;
        left: auto;
    }
}

.article-content p {
    font-size: 1.1em;
    line-height: 1.6em;
}
