---
layout: default
---

{%- include header.html -%}

<style>
    .image {
        border-radius: 0.5rem;
        width: 100%;
        height: auto;
        background-color: transparent;
    }

    .image-caption {
        text-align: center;
        font-size: smaller;
        color: darkslategray;
        margin-top: 0.5rem;
        margin-bottom: 2.5rem;
    }

    .back-button {
        font-size: 25px;
    }
</style>

<main class="page-content" aria-label="Content">
    <div class="wrapper">
        <article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">
            <a class="back-button" href="/blog">&larr;</a>
            <header class="post-header">
                {%- if page.image -%}
                <figure>
                    <img class="image" src="{{ page.image }}" title="{{ page.image_caption_title }}"
                        alt="{{ page.image_caption_title }} {{ page.image_caption_description }}" />
                    {% if page.image_caption %}
                    <figcaption class="image-caption">{{ page.image_caption }}</figcaption>
                    {% endif %}
                </figure>
                {%- endif -%}
                <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
                <p class="post-meta">
                    <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
                        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
                        {{ page.date | date: date_format }}
                    </time>
                    {%- if page.author -%}
                    • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span
                            class="p-author h-card" itemprop="name">{{ page.author }}</span></span>
                    {%- endif -%}
                </p>
            </header>
            <div class="post-content article-content" itemprop="articleBody">
                {{ content }}
            </div>
            {%- if site.disqus.shortname -%}
            {%- include disqus.html -%}
            {%- endif -%}
            <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
        </article>
    </div>
</main>

{%- include footer.html -%}